.done {
	background-color: green;
	color: #fff;
}

li {
	text-align: center;
}

#disc {
	margin: 10px 0;
}

#name {
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid blue;
}

#name_text {
		display: inline-block;
		padding: 0 0 10px 20px;		
}